<div class="text-center">
    <div class="mt-3 mb-3 text-center">
        <h2 class="elementor-heading-title elementor-size-default">When You Control Your Health
            Data, You Control Your Options.</h2></div>
    </div>
    <div class="text-center">
        <div class="elementor-text-editor elementor-clearfix"><p>Ciitizen helps you collect,
            summarize, and share your medical records digitally, <b>free of charge</b>. You can use
            it to get a second opinion, coordinate with caregivers, or donate to research.</p>
            <p class="p1"><b>Starting with cancer, we are helping patients take control of their
                health outcomes.</b></p>
        </div>
    </div>
    <div class="mt-3 mb-3 text-center">
        <button type="button" class="btn btn-info center-block infer-next">
            Continue processing
        </button>
    </div>
</div>
