<div class="elementor-widget-wrap text-center">
    <div class="elementor-element elementor-element-5260 elementor-widget elementor-widget-heading is-mac animated fadeIn"
         data-id="5260" data-element_type="widget"
         data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
        <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">When You Control Your Health
                Data, You Control Your Options.</h2></div>
    </div>
    <div class="elementor-element elementor-element-1fde elementor-widget elementor-widget-text-editor is-mac animated fadeIn"
         data-id="1fde" data-element_type="widget"
         data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
         data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix"><p>Ciitizen helps you collect,
                summarize, and share your medical records digitally, <b>free of charge</b>. You can use
                it to get a second opinion, coordinate with caregivers, or donate to research.</p>
                <p class="p1"><b>Starting with cancer, we are helping patients take control of their
                    health outcomes.</b></p>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-348c elementor-widget elementor-widget-jet-button is-mac animated fadeIn"
         data-id="348c" data-element_type="widget"
         data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
         data-widget_type="jet-button.default">
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-info center-block infer-next">
            Continue processing
        </button>
    </div>
</div>
