<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ciitizen AI intern model DS-T2-V.01</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../../static/js/site.js"></script>
    <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function () {
                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;
                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";
                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function () {
                    div.style.display = "none";
                }, 600);
            }
        }
    </script>
</head>
<body>
<div class="message" id="message-block">
    {% if error %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ filename }} doesn't exist.
        </div>
    {% endif %}
</div>

<div class="jumbotron">
    <h2 class="text-center">{{ filename }}</h2>
</div>

<div class="panel panel-default col-lg-12">
    <div class="panel-body">
        <textarea class="json-viewer" rows="30" cols="180">{{ file_content }}</textarea>
    </div>
</div>

</body>
</html>
