{% extends "site.html" %}
{% block extra_script %}
    <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function () {
                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;
                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";
                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function () {
                    div.style.display = "none";
                }, 600);
            }
        }
    </script>
{% endblock %}
{% block predefined_alert %}
<div class="message" id="message-block">
    {% if error %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ filename }} doesn't exist.
        </div>
    {% endif %}
</div>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2 class="text-center">{{ filename }}</h2>
</div>

<div class="panel panel-default col-lg-12">
    <div class="panel-body">
        <textarea class="json-viewer" rows="30" cols="180" disabled>{{ file_content }}</textarea>
    </div>
</div>
{% endblock %}