<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ciitizen AI intern model DS-T2-V.01</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../../static/js/file_manager.js"></script>
</head>
<body>
<div class="message" id="message-block">
</div>

<div class="jumbotron">
    <h2 class="text-center">Uploaded data to process</h2>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" class="select-all-input">
            </th>
            <th>Filename</th>
            <th>Progress</th>
            <th>Precision</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td>
                <input type="checkbox" class="select-all-input" id="{{ file.filename }}">
            </td>
            <td>{{ file.filename }}</td>
            <td>{{ file.progress }}%</td>
            <td>{{ file.precision }}%</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div> <!-- /container -->
</body>
</html>
