{% extends "site.html" %}
{% block content %}
<div class="jumbotron">
    <h2 class="text-center">Process status</h2>
</div>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" class="select-all-input">
            </th>
            <th>Filename</th>
            <th>Progress</th>
            <th>Precision</th>
            <th>Concept</th>
            <th>Accepted</th>
            <th>Partial</th>
            <th>Rejected</th>
            <th>Inprogress</th>
            <th>Not started</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>
                    <input type="checkbox" class="select-all-input" id="{{ file.filename }}">
                </td>
                <td>{{ file.filename }}</td>
                <td>{{ file.progress }}%</td>
                <td>{{ file.precision }}%</td>
                <td>{{ file.total_dataset }}</td>
                <td>{{ file.accepted_dataset }}%</td>
                <td>{{ file.partially_accepted_dataset }}%</td>
                <td>{{ file.rejected_dataset }}%</td>
                <td>{{ file.processing_dataset }}%</td>
                <td>{{ file.not_started }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}