{% extends "site.html" %}
{% block extra_script %}
    <script src="../../static/js/process_status.js"></script>
{% endblock %}
{% block content %}

<div class="mb-3 col">
    <button id="select-dataset" type="button" class="btn btn-success center-block">
        Select and process
    </button>
    <button id="view-dataset" type="button" class="btn btn-info center-block">
        View
    </button>
    <button id="delete-dataset" type="button" class="btn btn-warning center-block">
        Delete
    </button>
</div>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="select-all-input">
            </th>
            <th>Filename</th>
            <th>Progress</th>
            <th>Concept</th>
            <th>Accepted</th>
            <th>Rejected</th>
            <th>Skipped</th>
            <th>Inprogress</th>
            <th>Not started</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>
                    <input type="checkbox" class="select-all-input" id="{{ file.filename }}">
                </td>
                <td>{{ file.filename }}</td>
                <td>{{ "%.2f"|format(file.progress) }}%</td>
                <td>{{ file.total_dataset }}</td>
                <td>{{ "%.2f"|format(file.accepted_dataset) }}%</td>
                <td>{{ "%.2f"|format(file.rejected_dataset) }}%</td>
                <td>{{ "%.2f"|format(file.skipped_dataset) }}%</td>
                <td>{{ "%.2f"|format(file.processing_dataset) }}%</td>
                <td>{{ "%.2f"|format(file.not_started) }}%</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                </td>
                <td>Sum</td>
                <td>{{ "%.2f"|format(sum.progress) }}%</td>
                <td>{{ sum.total_dataset }}</td>
                <td>{{ "%.2f"|format(sum.accepted_dataset) }}%</td>
                <td>{{ "%.2f"|format(sum.rejected_dataset) }}%</td>
                <td>{{ "%.2f"|format(sum.skipped_dataset) }}%</td>
                <td>{{ "%.2f"|format(sum.processing_dataset) }}%</td>
                <td>{{ "%.2f"|format(sum.not_started) }}%</td>
            </tr>

        </tfoot>
    </table>
</div>
{% endblock %}